/**********************
*   Global Settings
**********************/

*,
::after,
::before {
    margin: 0;
    font-family: "Century Gothic", 'Courier New', Courier, monospace;
    color: rgb(56, 56, 56);
    border-radius: 7px;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
        rgb(0, 250, 255),
        rgb(0, 150, 255),
        rgb(0, 155, 39),
        rgb(146, 94, 63)
    );
}

nav {
    padding: 2vh 4vw;
    display: flex;
    justify-content: flex-end;
}

button {
    padding: 1vh;
    border: 3px solid darkgreen;
    background-color: rgb(155, 201, 141);
    font-weight: bold;
    cursor: pointer;
}

h4 {
    width: inherit;
    text-align: center;
}

#dark-mode-button {
    border-color: goldenrod;
    background-color: yellow;
}

#page-title {
    text-align: center;
}

#scoreboard {
    border: 5px solid darkgrey;
    background-color: rgb(244, 244, 244);
    height: auto;
    width: 15vw;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    /* margin-top: 2vh;
    margin-left: 43vw; */
    position: absolute;
    top: 15vh;
    left: 43vw;
}

#scoreboard > h2 {
    margin: 1vh 2vh;
}

#player-score,
#computer-score {
    margin: 2vh 2vw;
    font-size: 40px;
}

#player-score > h3,
#computer-score > h3{
    font-size: 18px;
}

#gameboard-container {
    border: 5px solid darkgrey;
    background-color: rgb(244, 244, 244);
    height: 500px;
    width: 600px;
    position: absolute;
    top: 36vh;
    left: 34.5vw;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

#left-sidebar,
#right-sidebar {
    border: 5px solid rgb(134, 74, 17);
    background-color: burlywood;
    margin: 2vh 8vw;
    height: auto;
    width: 150px;
    position: absolute;
}

#left-sidebar {
    top: 40vh;
    left: 8vw;
}

#right-sidebar {
    top: 40vh;
    right: 6vw;
}

#red{
    border-color: red;
    background-color: rgb(255, 185, 185);
}

#green{
    border-color: green;
    background-color: rgb(178, 252, 159);
}

#blue{
    border-color: blue;
    background-color: rgb(159, 215, 252);
}

#purple{
    border-color: purple;
    background-color: rgb(219, 189, 254);
}

#default{
    border-color: darkgrey;
    background-color: rgb(244, 244, 244);
}

#game-options-container {
    position: absolute;
    bottom: 0;
    left: 10vw;
    height: 10vh;
    width: 20vw;
    text-align: center;
}

#sizing-list,
#color-theme {
    list-style-type: none;
    padding: 0;
    
}

#sizing-list > li,
#color-theme > li {
    width: 5vw;
    margin: 1vh 0;
    margin-left: 2.5vw;
}

#reset-button,
#versus-button {
    margin: 1vh 0;
    border-color: rgb(105, 105, 105);
    background-color: rgb(187, 187, 187);
}

#sky {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    padding: 0 5vw;
}

#sun {
    height: 20vh;
    width: 10vw;
    border-radius: 50%;
    background-image: radial-gradient(yellow, yellow, yellow, orange, orange);
    position: absolute;
    top: 2vh;
    left: 2vw;
    animation-name: breathe;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.cloud {
    height: 10vh;
    width: 10vw;
    background-image: radial-gradient(rgb(248, 248, 248), rgb(248, 248, 248), darkgrey);
    border-radius: 35%;
    z-index: 20;
}

#cloud1,
#cloud3 {
    animation-name: sideways;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#cloud2,
#cloud4 {
    align-self: flex-end;
    animation-name: sideways-reverse;
    animation-duration: 18s;
    animation-iteration-count: infinite;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

@keyframes sideways {
    50% { transform: translateX(20vw);}
    100% { transform: translateX(0);}
}

@keyframes sideways-reverse {
    50% { transform: translateX(-18vw);}
    100% { transform: translateX(0);}
}

@keyframes breathe {
    50% { transform: scale(1.25);}
    100% { transform: scale(1);}
}

/* @keyframes change-color {
    25% { background-color: goldenrod;}
    50% { background-color: gold;}
    75% { background-color: darkgrey;}
    100% { background-color: snow;}
} */

/***********************
*     Mobile Settings
***********************/

@media screen and (max-width: 1564px) {
    #page-title {
        position: absolute;
        top: 3vh;
        left: 35vw;
    }

    #scoreboard {
        top: 10vh;
        left: 35vw;
        width: 400px;
        height: 50px;
        justify-content: flex-start;
        z-index: 100;
    }

    #scoreboard > h2 {
        margin: 10px 15px;
    }
    
    #player-score,
    #computer-score {
        margin: 5px 0;
        font-size: 20px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 55px;
    }
    
    #player-score > h3,
    #computer-score > h3{
        font-size: 18px;
    }

    #gameboard-container {
        top: 20vh;
        left: 330px;
        z-index: 50;
        height: 500px;
        width: 540px;
    }

    #cloud1,
    #cloud3 {
        align-self: flex-end;
        animation-name: sideways;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    #cloud2,
    #cloud4 {
        align-self: flex-start;
        animation-name: sideways-reverse;
        animation-duration: 18s;
        animation-iteration-count: infinite;
    }

    #sun {
        height: 100px;
        width: 100px;
    }

    #game-options-container {
        bottom: 50px;
        left: 25px;
    }

    #left-sidebar {
        top: 260px;
        left: 10px;
    }
    
    #right-sidebar {
        top: 260px;
        right: 10px;
    }
}

@media screen and (max-height: 705px) {
    #page-title {
        position: absolute;
        top: 3vh;
        left: 35vw;
    }

    #scoreboard {
        top: 9vh;
        left: 38vw;
        height: 90px;
        width: 400px;
    }

    #gameboard-container {
        top: 24vh;
        left: 31vw;
        z-index: 5;
    }
}

@media screen and (max-width: 500px) {

    body {
        height: 200vh;
        width: 100vw;
    }

    #sun {
        display: none;
    }

    .cloud {
        display: none;
    }

    #page-title {
        top: 10vh;
        left: 11vw;
        font-size: 1.5em;
    }

    #scoreboard {
        top: 15vh;
        left: 12vw;
        width: 70vw;
    }

    #scoreboard > h2 {
        margin-top: 1.5vh;
        font-size: medium;
    }

    #left-sidebar {
        display: flex;
        margin: 0;
        height: 20vh;
        width: 70vw;
        top: 30vh;
        left: 12vw;
        flex-flow: row wrap;
    }

    .sizing-button {
        margin: 0 8vw;
        padding: 0;
        height: 5vh;
        width: inherit;
        flex-direction: row;
    }

    #left-sidebar > h4 {
        margin: 1vh 1vw;
        justify-content: center;
        height: 5vh;
        width: inherit;
    }

    #sizing-list {
        display: flex;
        height: 15vh;
        width: inherit;
        flex-flow: row wrap;
    }

    #sizing-list > li {
        height: min-content;
        width: 15vw;
        margin: 0 4vw;
        margin-left: 0; 
    }

    #right-sidebar {
        display: none;
    }

    #gameboard-container {
        top: 55vh;
        left: 2.5vw;
        height: auto;
        width: 85vw;
    }

    #game-options-container {
        display: flex;
        top: 2vh;
        left: 0;
        height: 5vh;
        width: 70vw;
        justify-content: space-evenly;
    }

    #game-options-container > h4 {
        display: none;
    }

    #reset-button,
    #versus-button {
        padding: 1px;
        width: 25vw;
        font-size: small;
    }
}